.article {
  min-height: 0;
  flex-grow: 1;
}

.dotlist {
  text-indent: -1em;
  padding-left: 1em;
}

.artlid {
  text-indent: -1em;
  padding-left: 1em;
}

.paragraph {
  text-indent: -1em;
  padding-left: 1em;
}


.lid {
  //    background: mat-color($pj-background, 100);
  max-width: 200px;
}

.line {
  padding-bottom: 0.5%;
}

.artworkingdate {
  opacity: 0.8;
  font-size: small;
}

.artworkingdate:hover {
  color: black;
  opacity: 1;
}

mat-card {
  margin-left: 1%;
  margin-right: 1%;
}
