<mat-card class="article" id="{{article.artId}}" *ngIf="article.artId !== undefined">
  <mat-card-title i18n>{{article.label}} {{article.artId}}</mat-card-title>
  <div class="line {{ line.type }}" *ngFor="let line of article.lines">
    <span class="lid" *ngIf="line.lidId"><u>Lid {{line.lidId}}</u></span>
    <span *ngIf="line.type !== 'table'" [innerHTML]="line.text | safeHtml"></span>
    <table mat-table *ngIf="line.type === 'table' && getTableColumns(line.table).length > 0" [dataSource]="line.table">
      <ng-container matColumnDef="{{column}}" *ngFor="let column of getTableColumns(line.table)">
        <th mat-header-cell *matHeaderCellDef> {{column}} </th>
        <td mat-cell *matCellDef="let element"> {{element[column]}} </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="getTableColumns(line.table)"></tr>
      <tr mat-row *matRowDef="let element; columns: getTableColumns(line.table);">
      </tr>
    </table>
  </div>
</mat-card>
