@mixin article-theme($theme) {
  .dotlist {
    padding-left: 1em;
  }

  .lid{
      background: mat-color($pj-background, 100);
  }

  .line {
    padding-bottom: 10px;
  }
  .artworkingdate {
    color: mat-color($pallete-triadic, 400);
  }
  .artworkingdate:hover {
    color: black;
  }
}
