<h1 mat-dialog-title>Download opties</h1>
<div mat-dialog-content>
    <mat-list>
        <mat-list-item class="dialog-item">
            <mat-slide-toggle [(ngModel)]="data.toc">Inhoudsopgave</mat-slide-toggle>
        </mat-list-item>
        <mat-list-item class="dialog-item">

            <mat-radio-group
                    class="pdf-radio-group"
                    [(ngModel)]="data.format"
                    aria-labelledby="file-format">
                <mat-radio-button class="pdf-radio-button" value="pdf">pdf</mat-radio-button>
                <mat-radio-button class="pdf-radio-button" value="docx">word</mat-radio-button>
            </mat-radio-group>
        </mat-list-item>
    </mat-list>
</div>
<div mat-dialog-actions>
    <button mat-button type="submit" [mat-dialog-close]="data" cdkFocusInitial>Verstuur</button>
    <button mat-button (click)="onCancel()">Cancel</button>
</div>
