.dialog-item {
  align-self: center;

}

.dialog-list {
  display: flex !important;
  flex-direction: row !important;
}

.pdf-radio-group {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
}

.pdf-radio-button {
  margin: 5px;
}

.mat-list-item {
  height: auto;
}
