.toc-tree-invisible {
    display: none;
}

h3 {
    text-decoration: underline;
}

h3:hover {
    cursor: pointer;
    color: #68c5b0;

}

.sublist-toc {
    margin-left: 1em;
}

.mat-tree-node {
    min-height: 2em !important;
    height: 3em;
}
