<mat-tree [dataSource]="dataSource" [treeControl]="treeControl" class="toc-tree">
    <!-- This is the tree node template for leaf nodes -->
    <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle class="mat-tree-node">
            <!-- use a disabled button to provide padding for tree leaf -->
            <button mat-icon-button disabled></button>
            <h3 (click)="scrollToElement(node.type + node.id)">
                <span class="toc-leaf-link"
                   [innerHTML]="node.typeLabel + ' ' + node.title"></span>
                <span *ngIf="node.titleLabel"> - </span>
                <span [innerHTML]=" node.titleLabel"></span>
            </h3>
    </mat-tree-node>
    <!-- This is the tree node template for expandable nodes -->
    <mat-nested-tree-node *matTreeNodeDef="let node; when: hasContainerChild">
            <div class="mat-tree-node">
                <button mat-icon-button matTreeNodeToggle
                        [attr.aria-label]="'toggle ' + node.title">
                    <mat-icon class="mat-icon-rtl-mirror">
                        {{treeControl.isExpanded(node) ? '-' : '+'}}
                    </mat-icon>
                </button>
                <h3 (click)="scrollToElement(node.type + node.id)">
                    <a class="toc-tree-link"
                       [innerHTML]="node.typeLabel + ' ' + node.title">
                    </a>
                    <span *ngIf="node.titleLabel.length > 0">-</span>
                    <span [innerHTML]="node.titleLabel"></span>
                </h3>
            </div>
            <div class="sublist-toc" [class.toc-tree-invisible]="!treeControl.isExpanded(node)">
                <ng-container matTreeNodeOutlet></ng-container>
            </div>
    </mat-nested-tree-node>
</mat-tree>
