.toc-tree-invisible {
    display: none;
}

h3 {
    text-decoration: underline;
    font-size: small;
}

h3:hover {
    cursor: pointer;
    color: #c6e77e;

}

.sublist-toc {
    margin-left: 1em;
}
