<mat-form-field class="url-form-field" *ngIf="!url">
    <label>
        <input #urlInput
               matInput
               placeholder="URL van wet"
               value="">
    </label>
    <button (click)='getLaw(urlInput.value)'>Go!</button>
</mat-form-field>
<div id="main-container" *ngIf="lawLoaded || languageLoaded">
    <mat-card id="main-toolbar" class="header">
        <mat-card-title id="main-title"> {{ law?.displayTitle }} </mat-card-title>
        <div class="menu-buttons">
            <button mat-icon-button i18n (click)="showOriginalLaw()">
                <mat-icon *ngIf="originalLaw" matTooltip="PrettyJustice">format_paint</mat-icon>
                <mat-icon *ngIf="!originalLaw" matTooltip="Ejustice">gavel</mat-icon>
            </button>
            <button mat-icon-button i18n (click)="switchLawLanguage()">
                <mat-icon>language</mat-icon>
                <span *ngIf="language=='nl'" matTooltip="Naar Frans">FR</span>
                <span *ngIf="language=='fr'" matTooltip="Naar Nederlands">NL</span>
                <mat-progress-bar *ngIf="lawLoading" mode="buffer"></mat-progress-bar>
            </button>
            <button mat-icon-button [matMenuTriggerFor]="infomenu">
                <mat-icon matTooltip="Wetsinformatie">info</mat-icon>
            </button>
            <mat-menu id="info-menu" #infomenu>
                <mat-list id="info-list">
                    <mat-list-item *ngIf="law.datePublished" i18n>
                        <button mat-icon-button>
                            <mat-icon matTooltip="Datum van Publicatie">public</mat-icon>
                        </button>
                        <span>{{ law?.datePublished | date:'mediumDate'}}</span>
                    </mat-list-item>
                    <mat-list-item *ngIf="law.dateWorking" i18n>
                        <button mat-icon-button>
                            <mat-icon matTooltip="Datum van Inwerkingtreding">sports</mat-icon>
                        </button>
                        <span>{{ law?.dateWorking | date:'mediumDate'}}</span>
                    </mat-list-item>
                    <mat-list-item i18n *ngIf="law.source">
                        <button mat-icon-button>
                            <mat-icon matTooltip="Bron">account_balance</mat-icon>
                        </button>
                        <span>{{ law?.source | titlecase}}</span>
                    </mat-list-item>
                    <mat-list-item *ngIf="law.pageNumber" i18n>
                        <button mat-icon-button>
                            <mat-icon matTooltip="Staatblad">find_in_page</mat-icon>
                        </button>
                        <span><i>BS</i> p. {{ law?.pageNumber}}</span>
                    </mat-list-item>
                </mat-list>
            </mat-menu>
            <button mat-icon-button [matMenuTriggerFor]="mainmenu">
                <mat-icon>menu</mat-icon>
            </button>
            <mat-menu id="main-menu" #mainmenu>
                <mat-list>
                    <a mat-list-item *ngIf="law?.cosUrl" href="{{law?.cosUrl}}" i18n>Raad van State</a>
                    <a mat-list-item *ngIf="law?.archivesUrl" href="{{law?.archivesUrl}}" i18n>Archief-versie</a>
                    <a mat-list-item *ngIf="law?.implementingDocumentsUrl" href="{{law?.implementingDocumentsUrl}}"
                       i18n>Uitvoeringsbesluiten</a>
                </mat-list>
            </mat-menu>
        </div>
    </mat-card>
    <mat-expansion-panel class="header" id="law-toolbar">
        <mat-expansion-panel-header>
            <mat-panel-title i18n *ngIf="language==='nl'">Inhoudsopgave</mat-panel-title>
            <mat-panel-title i18n *ngIf="language==='fr'">Table des Matières</mat-panel-title>
        </mat-expansion-panel-header>

        <div id="law-toc-top">
            <app-toc [children]="law.law.children" [language]="language"></app-toc>
        </div>
    </mat-expansion-panel>
    <h3 style="color: #ff0000" *ngIf="law?.law.children.length === 0">Geen artikelen voor dit document gevonden.
    </h3>
    <mat-divider></mat-divider>
    <div class="law-content" *ngIf="!originalLaw">
        <app-ej-container [items]="law?.law.children"></app-ej-container>
    </div>
    <div class='original-law-container' *ngIf="originalLaw">
        <mat-card [innerHTML]="law.originalHTML | safeHtml"></mat-card>
    </div>
</div>
<div class="spinner-container" *ngIf="lawLoading && !languageLoaded">
    <mat-spinner [color]="'primary'"></mat-spinner>
</div>
