<mat-form-field class="url-form-field" *ngIf="!url">
    <label>
        <input #urlInput
               matInput
               placeholder="URL van wet"
               value="">
    </label>
    <button (click)='getLaw(urlInput.value)'>Go!</button>
</mat-form-field>
<div *ngIf="lawLoaded || languageLoaded">
    <mat-toolbar id="main-toolbar">
        <button type="button" mat-flat-button (click)="drawer.toggle()"
                color="primary">
            <ng-container i18n>Inhoudsopgave</ng-container>
        </button>
        <button type="button" mat-flat-button (click)="showPreambule()"
                color="primary">
            <ng-container i18n>Aanhef</ng-container>
        </button>
        <button type="button" mat-flat-button (click)="switchLawLanguage()" color="primary">
            <ng-container i18n *ngIf="language==='nl'">Franstalige versie</ng-container>
            <ng-container i18n *ngIf="language==='fr'">Nederlandstalige versie</ng-container>
        </button>
        <button type="button" mat-flat-button [matMenuTriggerFor]="menu" color="primary">Links</button>
        <mat-menu #menu>
            <button mat-menu-item><a href="{{law?.cosUrl}}" *ngIf="law?.cosUrl" i18n> Raad van State</a></button>
            <button mat-menu-item><a href="{{law?.archivesUrl}}" *ngIf="law?.archivesUrl" i18n> Archiefversies</a>
            </button>
            <button mat-menu-item>
                <a href="{{law?.implementingDocumentsUrl}}" *ngIf="law?.implementingDocumentsUrl" i18n>
                    Uitvoeringsbesluiten
                </a></button>
        </mat-menu>
    </mat-toolbar>
    <mat-sidenav-container class="law-container">
        <mat-sidenav #drawer mode="side" closed>
            <mat-card-title i18n>Inhoudsopgave</mat-card-title>
            <app-toc-container [items]="law?.law.children"></app-toc-container>
        </mat-sidenav>
        <mat-sidenav-content>
            <mat-card>
                <mat-card-title> {{ law?.displayTitle }} </mat-card-title>
            </mat-card>
            <mat-card *ngIf="showpreambule">
                <mat-card-title>Aanhef</mat-card-title>
                {{law?.preambule}}
            </mat-card>
            <mat-card class="law-metadata">
                <ol style="list-style-type:none;">
                    <li i18n>Datum van Publicatie: <strong>{{ law?.datePublished | date:'mediumDate'}}</strong></li>
                    <li i18n>Datum van Inwerkingtreding: {{ law?.dateWorking | date:'mediumDate'}}</li>
                    <li i18n *ngIf="law?.source">Bron: <strong>{{ law?.source | titlecase}}</strong></li>
                    <li i18n>Pagina Staatsblad: {{ law?.pageNumber}}</li>
                </ol>
            </mat-card>
            <app-ej-container [items]="law?.law.children"></app-ej-container>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>
<div class="spinner-container" *ngIf="lawLoading">
    <mat-spinner [color]="'primary'"></mat-spinner>
</div>
