<mat-form-field class="url-form-field" *ngIf="!url">
    <label>
        <input #urlInput
               matInput
               placeholder="URL van wet"
               value="">
    </label>
    <button (click)='getLaw(urlInput.value)'>Go!</button>
</mat-form-field>
<div id="main-container">
    <div *ngIf="lawLoaded || languageLoaded">
        <mat-card id="main-toolbar">
            <mat-card-title> {{ law?.displayTitle }} </mat-card-title>
            <button menubutton mat-icon-button [matMenuTriggerFor]="menu">
                <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu id="menu" #menu>
                <button mat-menu-item><a href="{{law?.cosUrl}}" *ngIf="law?.cosUrl" i18n> Raad van State</a>
                </button>
                <button mat-menu-item><a href="{{law?.archivesUrl}}" *ngIf="law?.archivesUrl" i18n>
                    Archiefversies</a>
                </button>
                <button mat-menu-item>
                    <a href="{{law?.implementingDocumentsUrl}}" *ngIf="law?.implementingDocumentsUrl" i18n>
                        Uitvoeringsbesluiten
                    </a></button>
            </mat-menu>
        </mat-card>
        <div class="law-container">
            <mat-card id="law-side">
                <div id="'law-toc">
                    <mat-card-title i18n *ngIf="language==='nl'">Inhoudsopgave</mat-card-title>
                    <mat-card-title i18n *ngIf="language==='fr'">Table des Matières</mat-card-title>
                    <app-toc [children]="law.law.children" [language]="language"></app-toc>
                </div>
            </mat-card>
            <div id="law-content">
                <mat-card id="law-metadata">
                    <ol style="list-style-type:none;">
                        <li i18n>Datum van Publicatie: <strong>{{ law?.datePublished | date:'mediumDate'}}</strong></li>
                        <li i18n>Datum van Inwerkingtreding: {{ law?.dateWorking | date:'mediumDate'}}</li>
                        <li i18n *ngIf="law?.source">Bron: <strong>{{ law?.source | titlecase}}</strong></li>
                        <li i18n>Pagina Staatsblad: {{ law?.pageNumber}}</li>
                    </ol>
                </mat-card>
                <mat-card>
                    <app-toc [children]="law.law.children"></app-toc>
                </mat-card>
                <app-ej-container [items]="law?.law.children"></app-ej-container>
            </div>
        </div>
    </div>
</div>
<div class="spinner-container" *ngIf="lawLoading">
    <mat-spinner [color]="'primary'"></mat-spinner>
</div>
