#main-container {
}

.article {
  //   background-color: mat-color($pj-background, 100);
  margin-bottom: 1em;
}

.url-form-field {
  width: 100%;
}

.mat-spinner {
  position: fixed;
  margin: 5%;
  padding: 45px;
}

.spinner-container {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 40%;
  top: 35%;
}

#main-container {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.toc {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  border-bottom: ridge rgba(181, 196, 197, 0.8) 2px;
  margin: 8px 8px 1px 4px;
}

#main-title {

}

.slide-button-container {
  transform: translate(0%, 25%);
}


.menu-buttons {
  display: flex;
  flex-direction: row;
}


.law-container {
  height: 100%;
}

#law-toolbar {
  display: inline;
  max-height: 40%;
  overflow-y: auto;
}

#law-toolbar:not(.mat-expanded) {
  overflow-y: hidden;
}

.original-law-container {
  height: 100%;
  flex: 1;
  overflow: scroll;
}

.law-content {
  height: 100%;
  flex: 1;
  overflow-y: scroll;
}

#info-menu {

}

#info-list {
}


#main-menu {

}

.toc-title {
  overflow-y: hidden;
}

#law-toc-top {

}
