.article {
  //   background-color: mat-color($pj-background, 100);
  margin-bottom: 1em;
}

.url-form-field {
  width: 100%;
}

mat-spinner {
  position: fixed;
  margin: 5%;
  padding: 45px;
}

.spinner-container {
  grid-area: spinner;
  width: 1vw;
  height: 1vh;
  padding-left: 40%;
  padding-top: 25%;
  overflow: hidden;
}

#law-content {
  margin-left: 1%;
  display: flex;
  flex-direction: column;
  min-height: 0;
  overflow-y: scroll;
}

#law-side {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

#law-toc {
  flex-grow: 1;
}

#law-metadata {
}

#main-toolbar {
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 1%;
}

#law-title {
}

#menu {
  align-self: flex-end;
}

#main-container {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.law-container {
  display: flex;
  height: 90%;
}
