@mixin law-theme($theme) {
  html * {
    font-family: Ubuntu, sans-serif !important;
  }
  button {
    color: black;
  }
  h2 {
    background-color: lightblue;
  }

  .book {
    background-color: inherit;
  }
  .lawtitle {
    // background-color: mat-color($pj-background, 50);
  }
  .chapter {
    // background-color: mat-color($pj-background, 100);
  }
  .article {
    background-color: mat-color($pj-background, 100);
  }
  #main-toolbar {
    position: sticky;
    top: 0;
  }

  mat-drawer-container {
    background-color: mat-color($pj-background, 200);
  }
}

.url-form-field {
  width: 100%;
}

mat-card {
  margin: 1em;
}

mat-spinner {
  position: fixed;
  margin: 5%;
  padding: 45px;
}

.spinner-container {
  width: 1vw;
  height: 1vh;
  padding-left: 40%;
  padding-top: 25%;
  overflow: hidden;
}
