mat-card-title  {
    color: red;
}

.book {
    background-color: azure;
}

.lawtitle {
    color: aqua;
    background-color: fuchsia;
}

.chapter {
    color: blue;
    background-color: aliceblue;
}
