<div class="{{item.type}}" *ngFor="let item of items">
    <div *ngIf="isContainer(item)">
        <h2 i18n *ngIf="item.type"> {{item.typeLabel}} {{item.title}}
            <span *ngIf="isContainer(item?.children[0])">
                [ {{item.children[0].typeLabel}} {{item.children[0].title}} - {{item.children[item.children.length - 1].title}} ]
            </span>
            <span *ngIf="isArticle(item?.children[0])">
                [ {{item.children[0].name}} - {{item.children[item.children.length - 1].name}} ]
            </span>
        </h2>
        <app-ej-container class="{{item.type}}" [items]="item.children" *ngIf="item.children"></app-ej-container>
    </div>
    <app-ej-article [article]="item" *ngIf="isArticle(item)"></app-ej-article>
</div>
