<div class="{{item.type}}" id="{{item.type + item.id}}" *ngFor="let item of items">
    <div *ngIf="isContainer(item)">
        <h2 i18n *ngIf="item.type"> {{item.typeLabel}} <span class="title" [innerHTML]="item.title"></span> - <span class="title-label" [innerHTML]="item.titleLabel"></span>
            <span class="container-range" *ngIf="isContainer(item?.children[0])">
                [ {{item.children[0].typeLabel}} <span [innerHTML]="item.children[0].title"></span> - <span [innerHTML]="item.children[item.children.length - 1].title"></span> ]
            </span>
            <span class="article-range" *ngIf="isArticle(item?.children[0])">
                [ {{item.children[0].label}} {{item.children[0].artId}} - {{item.children[item.children.length - 1].artId}} ]
            </span>
        </h2>
        <app-ej-container class="{{item.type}}" [items]="item.children" *ngIf="item.children"></app-ej-container>
    </div>
    <app-ej-article [article]="item" *ngIf="isArticle(item)"></app-ej-article>
</div>
