$pallete-triadic: (
        50 : #e1f4fd,
        100 : #b2e3fa,
        200 : #80d1f7,
        300 : #4dbff3,
        400 : #28b1f1,
        500 : #02a3ee,
        600 : #0396df,
        700 : #0383cb,
        800 : #0272b7,
        900 : #025295,
        A100 : #c6cbff,
        A200 : #939dff,
        A400 : #606eff,
        A700 : #4757ff,
        contrast: (
                50 : #000000,
                100 : #000000,
                200 : #000000,
                300 : #000000,
                400 : #ffffff,
                500 : #ffffff,
                600 : #ffffff,
                700 : #ffffff,
                800 : #ffffff,
                900 : #ffffff,
                A100 : #000000,
                A200 : #000000,
                A400 : #ffffff,
                A700 : #ffffff,
        )
);
