/* You can add global styles to this file, and also import other style files */
@import "src/theme";
@import url('https://fonts.googleapis.com/css?family=Abel|Raleway|Roboto&display=swap');

html, body {
    height: 100%;
    overflow-y: hidden;
}

body {
    margin: 0;
    font-family: Roboto, sans-serif;
}
